<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" action="/newPost" method="post">
  <!-- this is a bootstrap class that stacks things nicely -->
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" id="postTitleId" type="text" name="postTitle">
  </div>
  <div class="form-group">
    <label>Body</label>
    <textarea class="form-control" id="postBodyId" name="postBody"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>

</form>

<%- include("partials/footer") -%>
