body {
  background-color: lightgreen;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #F0BB62;
  border-width: 5px;
  width: 5%;
  height: 0;
}

h1 {
  color: #064635;
}

h3 {
  color: #064635;
}
