
/* fold: Element Type Styling */

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 900;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

/* end fold */

/* fold: Containers */

.container-fluid {
  padding: 7% 15%;
}

/* end fold */

/* fold: Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* end fold */

/* fold: Navigation Area */

.navbar {
  padding-bottom: 2.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2;
  /* font-weight: 100; */
}

.nav-item {
  padding: 0 18px;
}
/* end fold */

/* fold: Title Area */

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-text {
  padding-top: 2rem;
  text-align: left;
}

.title-left {
  margin-bottom: 15%;
}

.dog-img-box {
  height: 500px;
  position: relative;
  left: 10%;
  bottom: -10%;
}

.tindog-mascot-img {
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  width: 350px;
}

.download-button {
  margin: 5% 3% 0 0;
}

@media (max-width: 1260px) {
  .tindog-mascot-img {
    transform: rotate(0deg);
    position: static;
    width: 350px;
  }

  .dog-img-box {
    left: 0;
  }

  .title-text {
    text-align: center;
  }
}

/* end fold */

/* fold: Features Area */

#features {
  position: relative;
  z-index: 1;
}

.feature {
  padding: 0 3%;
}

.features-icon {
  font-size: 3rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}
.features-text {
  color: #8f8f8f;
}

/* end fold */

/* fold: Testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* end fold */

/* fold: Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* end fold */

/* fold: Pricing */

.pricing-column {
  padding: 3% 2%;
}

.card-footer {
  background-color: #FFFFFF;
}

/* end fold */

/* fold: Call to Action */

/* end fold */

/* fold: Footer */

.copyright-text {
  font-size: .8rem;
  color: #8f8f8f;
  line-height: 3rem;
}

.footer-link {
  color: black;
  margin: .5rem;
}



/* end fold */



















/* end */
